:root {
    --font-color: black;
}
* {
    margin: 0;
    padding: 0;
}
html, body {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 1rem;
    height: 100%; 
}
a {
    text-decoration: none;
    color: var(--font-color);
}



/* ----------------header--------------- */
header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    background-color: yellowgreen;
}
.menu {
    list-style: none;
    display: flex;
    align-items: center;
    background-color: aqua;
}
.menu img {
    width: 180px;
    padding-right: 20px;
    cursor: pointer;
    transition: opacity 0.2s;
    background-color: yellow;
}
.menu img:hover {
    opacity: 0.5;
}
.menu a {
    margin: 15px;
    transition: opacity 0.1s;
    background-color: yellow;
}
.menu a:hover {
    opacity: 0.5;
}
.menu li {
    font-weight: 700;
}
.english {
    font-size: 14px;
    margin-left: 180px;
    margin-right: 70px;
}
.english, .sns_bar a{
    transition: opacity 0.1s;
    background-color: aqua;
}
.english:hover,
.sns_bar a:hover {
    opacity: 0.5;
}
.sns_bar {
    background-color: aqua;
    font-size: 18px;
}
.sns_bar a {
    margin-right: 40px;
    background-color: yellow;
}
.sns_bar .fa-bars {
    cursor: pointer;
}



/* ----------------main--------------- */
.bxslider {
    width: 100%;
}
.bxslider li {

}
.bxslider img {
    width: 100%;
}
/*bxSider 테두리 없애기*/
.bx-wrapper {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border: 0 !important; 
    margin-bottom: 0 !important;
}
.time_location {
    display: flex;
    align-items: center;
    background-color: yellowgreen;
    /* background-color: #f1f1f1; */
    height: 50px;
    font-weight: 600;
}
.time_location div:nth-child(1) {
    margin-right: 230px;
    margin-left: 100px;
}
.time_location i {
    margin-right: 5px;
}
hr {
    border: 3px solid red;
}
.info {
    background-color: yellowgreen;
    padding: 50px 100px;
    display: flex;
    column-gap: 73px;
}
.info_col {
    background-color: yellow;
    list-style: none;
}
.info_col h4 {
    color: rgb(94, 94, 94);
    transition: opacity 0.1s;
    margin-bottom: 20px;
}
.info_col h4:hover {
    opacity: 0.5;
}
.info_col li {
    background-color: aqua;
    line-height: 200%;

}
.info_col li {
    color: rgb(138, 138, 138);
    transition: opacity 0.1s;
}
.info_col li:hover {
    opacity: 0.5;
}


/* ----------------footer--------------- */
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 50px;
    background-color: yellow;
}
.footer_left {
    font-weight: 700;
}
.footer_middle {
    display: flex;
    color: rgb(138, 138, 138);
    font-size: 13px;
    margin-left: 180px;
}
.footer_middle p {
    margin-right: 20px;
    background-color: yellowgreen;
}
.footer_middle p:last-child {
    margin-right: 0;
}
.footer_middle a {
    color: rgb(138, 138, 138);
}
.culture_logo {
    margin-left: 30px;
    transition: opacity 0.1s;
}
.culture_logo:hover {
    opacity: 0.5;    
}
.culture_logo img {
    height: 25px;
}

@media screen(max-width: 1200px) {

}